@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

.container-full {
    max-width: 100%;
}
.container-lg {
    max-width: 95%;
}
.container-site {
    width:1440px;
    max-width: 100%;
}
.container-block {
    width:1200px;
    max-width: 100%;
}